[Unit]
Description=Weather Service
Documentation=https://github.com/jewzaam/weather-service/
Wants=network-online.target
After=network-online.target

[Service]
User=$USER
Restart=on-failure
RestartSec=5s
WorkingDirectory=$REPO_BASE_DIR
ExecStart=$PYTHON3.11 $REPO_BASE_DIR/src/py/server.py --config $CONFIG

[Install]
WantedBy=multi-user.target